body {
  background-color: #eee;
  color: #000;
  padding-top: 80px;
}

.header {
  background-color: rgb(32, 32, 32);
  box-shadow: 1px 1px 4px 0 rgba(134, 134, 134, 0.712);
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  padding: 30px;
}

.header .logo {
  display: inline-block;
  text-decoration: none;
  font-size: 2em;
  padding-left: 120px;
  color: white;
  font-family: "Roboto";
  font-weight: 500;
}

.menu {
  display: inline-block;
  padding-left: 30%;
}

.menu a {
  text-decoration: none;
  font-size: 1.1em;
  color: white;
  background-color: rgba(27, 27, 27, 0.651);
  padding: 10px;
  border-radius: 7px;
  margin-right: 30px;
  font-family: "Roboto";
  font-weight: 400;
}

.menu a:hover {
  background-color: rgba(17, 17, 17, 0.959);
}

.rocketseat {
  font-family: "Roboto";
  font-weight: 400;
}

.titlerocketseat {
  text-align: center;
  font-size: 1.4em;
  padding: 0;
  margin: 0;
}

.wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  width: 70%;
  background: #2B2B2B;
  border-radius: 10px;
  padding: 8px;
}

.card img {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  padding-bottom: 15px;
}

.socialmedia {
  display: flex;
  justify-content: center;
}

.socialmedia a {
  color: white;
  text-decoration: none;
  background-color: #000;
  padding: 5px;
  border-radius: 7px;
  margin: 7px;
}

.socialmedia a:hover {
  background-color: rgba(52, 2, 133, 0.74);
}

.info {
  color: white;
  padding: 0 10px;
}

.info-technologies {
  text-align: center;
  color: white;
}

.table-technologies {
  background-color: #0000007a;
  border: 2px solid;
  border-color: rgb(0, 0, 0);
  border-radius: 7px;
  margin: auto;
  width: 50%;
}

.list-technologies .primarylist {
  display: inline-block;
}

.list-technologies .secondlist {
  display: inline-block;
  padding-left: 120px;
}

.list-technologies li {
  margin-bottom: 30px;
}

.contents-rocketseat {
  font-family: "Roboto";
  font-weight: 400;
}

.contents-title {
  text-align: center;
  font-size: 1.4em;
}

.contents {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contents-card {
  width: 25%;
  background: #1d1d1dcb;
  border-radius: 10px;
  margin: 30px;
  border-color: #000;
  border: 2px solid;
  box-shadow: 4px 5px 5px black;
  transition: transform .3s ease-out;
}

.contents-card:hover {
  transform: translate(0, -8px);
}

.contents-card img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}

.contents-card .title-post {
  margin: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding-right: 0.1em;
}

.contents-card .author-post {
  padding-left: 5px;
  font-weight: 100;
  font-size: 1em;
}

.contents-card .author-photo {
  display: inline-flex;
  background-color: white;
  width: 9%;
  height: 25px;
  border-radius: 100%;
  padding: 2px;
}

.contents-card .author-post img {
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.contents-card .reading-time {
  display: inline-flex;
  padding-left: 33px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 0.9em;
}

.button-card {
  display: flex;
  flex-direction: column;

}

.btnOpenModal {
  font-size: x-large;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: blueviolet;
  color: white;
  cursor: pointer;
}

hr {
  border: 0px;
  border-top: 1px solid lightgray;
}

.fade {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 5;
}

.modal-container {
  width: 100%;
  position: fixed;
  top: 0px;
  display: none;
  z-index: 999;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  width: 50%;
}

.modal iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
}

.btns {
  display: flex;
  justify-content: right;
  margin-bottom: 5px;
}

.btns button {
  border-radius: 4px;
  cursor: pointer;
  color: white;
  background-color: blueviolet;
  opacity: 0.8;
  border: 2px solid;
  border-color: black;
  margin: 2px;
}

.btns button:hover {
  opacity: 1;
}

.active {
  display: flex;
}

.active .modal {
  animation: modal .4s;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}